<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://sleepy-tor-38724.herokuapp.com/assets/styles.css">
    <title>not found</title>
</head>

<style>

    body {
        display:grid ;
        grid-template-rows: 80px 1fr;
    }
</style>
<body>
    <%- include('./partials/header'); -%>



<main class="main_404">
    <div class="banner-area">
        <img src="https://sleepy-tor-38724.herokuapp.com/images/undraw_page_not_found_su7k.svg" alt="not found">
    
        <a href="/">Back to home page</a>
    </div>
</main>
</body>
</html>